/**
 * Card 卡片组件样式
 * 完全复刻《三角洲行动》官网卡片样式
 */

/* ========== 新闻卡片容器 ========== */
.newsbox {
  position: relative;
  margin: 0.5rem 0 -0.3rem;
  overflow: hidden;
}

.newsbox ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ========== 新闻卡片项 ========== */
.newsbox li {
  background-color: rgb(255 255 255 / 10%);
  border: 0.01rem solid #464a4a;
  position: relative;
  width: 11.2rem;
  height: 3.3rem;
  float: left;
  margin-right: 0.68rem;
  margin-bottom: 0.7rem;
  padding-left: 6rem;
  box-sizing: border-box;
  padding-right: 0.5rem;
}

.newsbox li:nth-child(3n) {
  margin-right: 0;
}

.newsbox li img {
  width: 5.68rem;
  height: 3.26rem;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.newsbox li i {
  display: block;
  font-size: 0.3rem;
  color: #0d151a;
  background-color: #f4cf67;
  width: 1rem;
  height: 0.36rem;
  line-height: 0.4rem;
  font-style: normal;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0.35rem;
}

.newsbox li i.xw {
  background-color: #f4cf67;
}

.newsbox li i.kfz {
  background-color: #9d9e9e;
}

.newsbox li h2 {
  font-size: 0.35rem;
  color: #e1e1e1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 0.5rem;
  margin-top: 0.4rem;
}

.newsbox li p {
  font-size: 0.26rem;
  color: #939494;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 0.1rem 0 0.2rem;
}

.newsbox li span {
  display: block;
  font-size: 0.25rem;
  color: #9b9b9b;
  margin-top: 0.1rem;
}

/* ========== 技能卡片 ========== */
.skill-card-list {
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
}

.p4-sk-box {
  width: 1.97rem;
  height: 2.1rem;
  padding: 0.28rem 0.28rem 0.45rem;
  box-sizing: border-box;
  background: url(../../assets/p4-skill-item.png) no-repeat right/cover;
}

.p4-sk-box img {
  width: 1.45rem;
  height: 1.45rem;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p4-sk-box p {
  font-size: 0.22rem;
  color: #e1e1e1;
  text-align: center;
  margin-top: 0.1rem;
}

/* ========== 响应式 - Medium (<=1024px) ========== */
html.medium .newsbox li {
  width: 6.17rem;
  height: 2.16rem;
  padding-left: 4rem;
  padding-right: 0.3rem;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
}

html.medium .newsbox li:nth-child(3n) {
  margin-right: 0;
}

html.medium .newsbox li img {
  width: 3.76rem;
  height: 2.11rem;
}

html.medium .newsbox li i {
  font-size: 0.16rem;
  width: 0.5rem;
  height: 0.25rem;
  line-height: 0.25rem;
  bottom: 0.2rem;
}

html.medium .newsbox li h2 {
  font-size: 0.22rem;
  margin-top: 0.2rem;
  line-height: 0.35rem;
}

html.medium .newsbox li p {
  font-size: 0.19rem;
}

html.medium .newsbox li span {
  margin-top: -0.1rem;
  font-size: 0.19rem;
}

/* ========== 响应式 - Small (<=750px) ========== */
html.small .newsbox {
  margin: 0 auto;
  width: 7rem;
}

html.small .newsbox li {
  width: 7rem;
  height: 1.5rem;
  padding-left: 2.8rem;
  padding-right: 0.2rem;
  margin: 0.2rem auto;
}

html.small .newsbox li img {
  width: 2.61rem;
  height: 1.45rem;
}

html.small .newsbox li i {
  font-size: 0.17rem;
  width: 0.46rem;
  height: 0.28rem;
  line-height: 0.28rem;
  bottom: 0.05rem;
}

html.small .newsbox li h2 {
  font-size: 0.22rem;
  line-height: 0.4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-top: 0.1rem;
}

html.small .newsbox li p {
  font-size: 0.18rem;
  margin: 0.01rem 0 0.01rem;
}

html.small .newsbox li span {
  font-size: 0.15rem;
  margin-top: 0.05rem;
}

html.small .p4-sk-box {
  background: none;
  padding: 0;
  width: 0.65rem;
  height: 0.65rem;
}
